body {
    height: 360px;
    width: auto;
    padding: 0;
}
.my-logo {
    position: absolute;
    width: 120px;
    left: 120px;
    top: 55px;
}
.Email {
    position: absolute;
    left: 10px;
    border-color: #EDEDED;
    background: #EDEDED;
    border-radius: 5px ;
    height: 40px;
    top: 90px;
    padding-left: 9;
    padding-right: 9;
    width: 335px;
}
.Password {
    position: absolute;
    border-color: #EDEDED;
    background: #EDEDED;
    left: 10px;
    height: 40px;
    border-radius: 5px;
    top: 143px;
    padding-left: 9;
    padding-right: 9;
    width: 335px;
}
.Login {
    position: absolute;
    left: 10px;
    border-color: #0082FF;
    background: #0082FF;
    height: 40px;
    font-size: 17px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    top: 195px;
    box-sizing: border-box;
    padding-left: 9px;
    padding-right: 9px;
    width: 340px;
}
p {

    margin-top: 245px;
    text-align: center;
    color: blue;
    
}
.or {
    position: absolute;
    left: 170px;
    top: 275px;
}
.smit {
    margin-top: 30px;
}
.create {
    padding: 10px;
    margin-top: 15px;
    width: 150px;
    color: rgb(255, 255,255);
    background: rgba(94,204,31,1);
    margin-left: 95px;
    border-radius: 5px;
    border-color: rgba(94,204,31,1);
}
p1 {
    position: absolute;
    color: #AAAAAA;
    top: 430px;
    left: 60px;
    font-size: 15px;
}
p2 {
    position: absolute;
    color: #4275FF;
    top: 425px;
    left: 230px;
}
p3 {
    position: absolute;
    color: #4275FF;
    top: 450px;
    left: 40px;
}
p4 {
    position: absolute;
    top: 450px;
    color: #4275FF;
    left: 220px;
}
p5 {
    position: absolute;
    color: #4275FF;
    top: 470px;
    left: 60px;
}
p6 {
    position: absolute;
    color: #4275FF;
    top: 470px;
    left: 235px;
}
p7 {
    position: absolute;
    color: #4275FF;
    top: 490px;
    left: 40px;
}
i {
    margin-top: 100px;
    margin-left: 240px;
}
p8 {
    position: absolute ;
    color: #B8B8B8;
    text-align: center;
    top: 530px;
    left: 130px;
    
}
